


/* Global */
.section-content {
  padding: 4rem 0;
}

/* Top Section */
#top {
  
  background-image: url('../img/food/kor/KakaoTalk_20221103_061409896_02.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
}

#top .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.65);
}

#top .divider {
  width: 10%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-top: 2px solid #fff;
}

#top .welcome {
  padding-right: 8rem;
  color: #fff;
}

@media screen and (max-width: 767px) {
  #top .welcome {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

#intro .intro-first-card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 12rem;
}

#intro .col-6:nth-of-type(1) .intro-first-card {
  background-image: url('../img/food/kor/KakaoTalk_20221103_061409896_02.jpg');
}

#intro .col-6:nth-of-type(2) .intro-first-card {
  background-image: url('../img/food/us/KakaoTalk_20221103_061413227_01.jpg');
}

#intro .col-6:nth-of-type(3) .intro-first-card {
  background-image: url('../img/food/ch/KakaoTalk_20221103_061416584_04.jpg');
}

#intro .col-6:nth-of-type(4) .intro-first-card {
  background-image: url('../img/food/jap/KakaoTalk_20221103_061420188_02.jpg');
}

#intro .intro-first-card .overlay {
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#intro .intro-first-card .overlay a {
  transition: hover 0.4s ease;
}

#intro .intro-first-card .overlay a:hover {
  color: #fafa6f;
}

#services {
  background-color: rgba(96, 125, 139, 0.1);
}

#services .divider {
  width: 10%;
  margin: 2rem auto;
  border-top: 0.5rem solid rgb(255, 112, 3);
}



#gallery {
  background-color: rgba(96, 125, 139, 0.35);
}

#gallery .divider {
  width: 10%;
  margin: 2rem auto;
  border-top: 2px solid #000;
}

#gallery .gallery-item .card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 12rem;
  transition: 0.3s ease-in-out;
}

#gallery .gallery-item .card:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

#gallery .card .overlay {
  background-color: rgba(96, 125, 139, 0.3);
  opacity: 0;
  padding: 1.5rem;
  border-radius: 0.25rem;
  transition: all 0.4s ease-in-out;
}

#gallery .card .overlay:hover {
  opacity: 1;
  color: #fff;
}

#gallery .gallery-item:nth-of-type(1) .card {
  background-image: url('https://w.namu.la/s/b5ce7f785eca5394daf4e19a920e10bd1c2e89352f07ef3256ed61abdc6fb5ae7d24a4379478f9f26df1b53d7674d4c756ecbef6d8105b70992569614ca1fdd7d7dab37e1e184aad394a3bcc053509391988fbaca2d6ca645a0e21ccee7c889b3612378080cc5b9065e6355529758381');
}

#gallery .gallery-item:nth-of-type(2) .card {
  background-image: url('https://ggtour.or.kr/images/ggtour_p/info/map_img.jpg');
}

#gallery .gallery-item:nth-of-type(3) .card {
  background-image: url('https://blog.kakaocdn.net/dn/ltih6/btqE7npU9N6/J6ZDmVJzXR0WHWKEDCJURk/img.jpg');
}



#footer .sns img {
  border-radius: 0.75rem;
  transition: 0.4s ease;
}

#footer .sns img:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#footer .footer-1 .footer-logo {
  width: 80%;
}

#footer h4 {
  color: #29407b;
}

#footer li {
  font-size: 1.1rem;
}

#footer .footer-4 i,
#footer .footer-4 p {
  font-size: 1.1rem;
}

#footer .footer-4 .info-body {
  text-indent: -0.75rem;
  margin-left: 0.75rem;
}
